.App {
  margin: 0 3rem;
}

// Reset the default button styles all over the app
button {
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  appearance: none;
}
